/*******************************************************************************
 *                                                                             *
 * DatePicker                                                                  *
 *                                                                             *
 ******************************************************************************/
.date-picker {
    -fx-focus-color: lightgrey;
}


.date-picker > .arrow-button > .arrow {
    -fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 */
    -fx-scale-shape: true;
}

.date-picker .text-field{
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
}

.date-picker .text-input{
    -fx-background-radius: 0, 0;

    -fx-background-color: transparent, white;
    -fx-background-insets: 2, 2;
}

.date-picker > .arrow-button:hover {
    -fx-background-color: #d9d9d9;
    -fx-background-insets: 3 3 3 3;
    -fx-background-radius: 0;
}

.date-picker > .arrow-button:pressed {
    -fx-background-color: black;
}

.date-picker > .arrow-button:pressed > .arrow {
    -fx-background-color: white;
}

.date-picker-popup {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .button {
    -fx-padding: 0.25em 0.583333em 0.25em 0.583333em; /* 3 7 3 7 */
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .button:hover {
    -fx-background-color: #dadada;
}

.date-picker-popup > * > .spinner > .button:armed {
    -fx-background-color: #606060;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: #606060;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: white;
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-padding: 0;
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background-color: white;
    -fx-opacity: 0.3;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.75em;
    -fx-font-family: "Segoe UI Semibold", "Segoe UI", Helvetica, Arial, sans-serif;
}
